---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


.wrapper-footer {
    background-color: #FFF;
    border-top: 0.5px solid #989898;
    margin-top:20px;

  

}
footer {
    padding: 5px 10px 33px 10px;
    text-align: center;
    font-family: Danzza,sans-serif;
        font-size: 12px;
        position: relative;
}  
    
.container {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 40px;
    padding-top: 0px;
    width: 100%;
    
    
}    
    
audio, canvas, video {
    display: inline-block;
}

b, strong {
    font-weight: 700;
}

mark {
    background: #ff0 none repeat scroll 0 0;
    color: #000;
}

 menu, ol, ul {
    margin: 1em 0;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
nav ol, nav ul {
    list-style: outside none none;
}

svg:not(:root) {
    overflow: hidden;
}
embed, iframe, img, object {
    vertical-align: middle;
}

.reset > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}

body {
    font: 400 16px/24px "Source Sans Pro",Arial,Helvetica,sans-serif;
}
caption, h1, h2, h3, h4, h5, h6 {
    font-family: Danzza,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.5em 0 0.75em;
    text-transform: uppercase;
}
h1 {
    font-size: 30px;
    letter-spacing: 0.2em;
    margin-bottom: 0.25em;
    text-align: center;
}
    
@media (min-width: 700px) {
h1 {
    font-size: 50px;
}
}
h2 {
    font-size: 20px;
}
caption, h3 {
    font-size: 16px;
}
h4, h5, h6 {
    font-size: 14px;
}
p {
    margin: 0 0 1.75em;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 1px;
    margin: 40px 0;
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}
a:hover {
    color: #898989;
}
ol, ul {
    list-style: outside none none;
    margin: 0 0 1.75em;
    padding: 0;
}

li ol, li ul {
    margin: 0.25em 0 0;
}

.row, .row-main {
    margin: 0;
    padding: 0;
    position: relative;
}
.row-main::after, .row-main::before, .row::after, .row::before {
    clear: both;
    content: "";
    display: table;
}
.row-main {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
@media (min-width: 700px) {
.col {
    display: inline;
    float: left;
    left: 100%;
    padding: 0;
    position: relative;
}
}

body, html {
    height: 100%;
    overflow: hidden;
}
body {
    color: #000;
    position: relative;
    }

#header .bg {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #dedede;
    height: 59px;
    overflow: hidden;
    position: relative;
    transform: translateZ(-1px);
    visibility: visible;
}
#logo {
    font: 400 100%/1 "Source Sans Pro",Arial,Helvetica,sans-serif;
    margin-top: 22px;
    margin-bottom: 10px;
     padding: 10;
    position: relative;
    text-align: center;
       }
#logo a {
    color: #000;
}

.page-homepage.logo-header #logo-homepage {
    left: -5000px;
    opacity: 0;
}


#main {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 60px;
}

.page-homepage #main .ajax-holder {
    overflow: visible;
}

#horni-lista .menu {
    font-family: Danzza,sans-serif;
    font-size: 14px;
    left: 60px;
    line-height: 57px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 101;
}
#horni-lista .menu li {
    float: left;
}
#horni-lista .menu a {
    color: #000;
    display: block;
    padding: 2px 5px 0;
    position: relative;
    transition: background 0.2s ease 0s;
}
#horni-lista .menu a::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0099FF 0px, #666699 100%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 5px;
    opacity: 0;
    position: absolute;
    right: 5px;
    transition: opacity 0.2s ease 0s;
}

#horni-lista .menu a.open::after, #horni-lista .menu a:hover::after {
    opacity: 1;
}


#horni-lista .popup {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 100%;
    top: 60px;
    visibility: hidden;
    z-index: 100;
}
#horni-lista .popup > * {
    visibility: visible;
}
#horni-lista .popup.open {
    right: 0;
}
#horni-lista .popup.open .box {
    transition-duration: 0s;
}
#horni-lista .popup.open .bg {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
#horni-lista .bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    transition: background 0.5s ease 0s;
}


@media (min-width: 1000px) {
.clanky {
    padding-top: 60px;
}
.clanky .list {
    margin: 0 0 -30px -30px;
}
.clanky .list > * {
    width: 25%;
}
.clanky .list + * {
    margin-top: 30px;
}
.clanky .list .inner {
    margin: 0 0 30px 30px;
}

}


.clanky-promo {
    margin: 0 0 60px;
}
.blog-describe + .clanky-promo {
    margin-top: -30px;
}
.clanky-promo ul {
    font-size: 0;
    margin: 0 0 0 -15px;
}
.clanky-promo ul > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
}

.clanky-promo ul p {
    margin: 0;
}
.clanky-promo .inner {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    margin: 0 0 15px 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.clanky-promo .content {
    bottom: 0;
    left: 0;
    padding: 30px 20px 20px;
    position: absolute;
    right: 0;
}
.clanky-promo .title {
    font-family: Danzza,sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}


.clanky-promo .size-quarter, .clanky-promo .size-sixth {
    width: 50%;
}
.clanky-promo .size-half {
    width: 100%;
}
.clanky-promo .size-full img, .clanky-promo .size-quarter img, .clanky-promo .size-sixth img {
    max-height: 270px;
}

@media (min-width: 700px) {
.clanky-promo {
    margin: 0 0 60px;
}
.clanky-promo .size-quarter {
    width: 25%;
}
.clanky-promo .size-sixth {
    width: 16.6667%;
}
.clanky-promo .size-half {
    width: 50%;
}
}
@media (min-width: 1000px) {
.clanky-promo ul {
    margin-left: -30px;
}
.clanky-promo .inner {
    margin: 0 0 30px 30px;
}
.clanky-promo .inner:hover .content, .clanky-promo .inner:hover .icon-plus {
    opacity: 1;
}
.ie8 .clanky-promo .inner:hover .content, .ie8 .clanky-promo .inner:hover .icon-plus {
    display: block;
}
.clanky-promo .inner:hover .img {
    opacity: 0.25;
}
.clanky-promo .img {
    transition: opacity 0.2s ease 0s;
}
.clanky-promo .content {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.ie8 .clanky-promo .content {
    display: none;
}
.clanky-promo .title {
    font-size: 16px;
}

}


.blog-describe {
    margin: 0 0 60px;
    position: relative;
}
.blog-describe .scroll {
    font-size: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}
.blog-describe .scroll > * {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    width: 100%;
}
.ie7 .blog-describe .scroll > * {
    display: inline;
}
.blog-describe .scroll > * > * {
    white-space: normal;
}
.js .blog-describe .scroll {
    overflow-x: hidden;
}
.blog-describe .item {
    background: #000 none no-repeat scroll 50% 50% / cover ;
    color: #fff;
    padding-top: 100%;
    position: relative;
    text-align: center;
}
.blog-describe .item .bg {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover ;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.blog-describe .item.dark {
    background-color: #fff;
    color: #000;
}
.blog-describe .item.dark .btn > span {
    color: #000;
}
.blog-describe .item.dark .btn:hover > span {
    color: #fff;
}
.blog-describe .content {
    left: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.ie8 .blog-describe .content {
    top: 50px;
}
.blog-describe .title {
    letter-spacing: 0.2em;
    line-height: 1.1em;
    margin: 0 0 0.75em;
}
.blog-describe .title span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 5px;
}
.blog-describe .btn-wrap {
    margin: 0;
}
.blog-describe .btn-wrap .btn {
    margin: 0 5px 5px;
}
.blog-describe .pages {
    font-size: 12px;
    font-weight: 600;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 2;
}
.ie8 .blog-describe .pages {
    top: 50px;
}
.blog-describe .pages a {
    color: #bfbfbf;
    display: block;
    transition: font-size 0.2s ease 0s, color 0.2s ease 0s, line-height 0.2s ease 0s;
}
.blog-describe .pages a:hover {
    color: #fff;
}
.blog-describe .pages a.active {
    color: #000;
    font-size: 16px;
    line-height: 40px;
}
@media (min-width: 480px) {
.blog-describe .item {
    padding-top: 57.265%;
}
}
@media (min-width: 700px) {
.blog-describe .title {
    font-size: 50px;
    margin: 0 0 0.25em;
}
.blog-describe .title span {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}
.blog-describe .item.pos-x-left .content {
    padding-right: 50px;
    right: 50%;
}
.blog-describe .item.pos-x-right .content {
    left: 50%;
    padding-left: 50px;
}
.blog-describe .item.pos-y-top .content {
    top: 50px;
    transform: none;
}
.blog-describe .item.pos-y-bottom .content {
    bottom: 50px;
    top: auto;
    transform: none;
}

}    

.desribe {
    display: block;
    margin-top: -25px;
    text-align: center;
}
.desribe li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #9c9c9c;
    display: inline-block;
    font-size: 15px;
    letter-spacing: -0.01em;
    padding: 0 20px;
    text-transform: uppercase;
    vertical-align: middle;
}
.desribe .separator {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0099FF 0px, #666699 100%) repeat scroll 0 0;
    height: 2px;
    padding: 0;
    width: 30px;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
